<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:include filename="inertial_macros.xacro" />

    <material name="white">
        <color rgba="1 1 1 1" />
    </material>

    <material name="orange">
        <color rgba="1 0.3 0.3 1" />
    </material>

    <material name="blue">
        <color rgba="0.2 0.2 1 1" />
    </material>

    <material name="black">
        <color rgba="0 0 0 1" />
    </material>


    <material name="red">
        <color rgba="1 0 0 1" />
    </material>


    <link name="base_link">

    </link>

    <joint name="chassis_joint" type="fixed"> 
        <parent link="base_link"/>
        <child link="chassis"/>
        <origin xyz="-0.7305 0 0"/>
    </joint>

    <link name="chassis">
        <visual>
        <origin xyz="1.0225 0 0.254"/>
            <geometry>
                <box size="0.635 0.584 0.508"/>
            </geometry>
            <material name="white"/>
        </visual>
         
         <!-- <collision>
            <origin xyz="0.7305 0 0.31115"/>
            <geometry>
                <box size="0.635 0.584 0.508"/>
            </geometry>  
        </collision>

        <xacro:inertial_box mass="0.5" x="0.3" y="0.5" z="0.15">
                <origin xyz="0.15 0 0.075" rpy="0 0 0"/>
        </xacro:inertial_box> -->


    </link>

    <joint name="component_joint" type="fixed"> 
        <parent link="chassis"/>
        <child link="component"/>
        <origin xyz="0 0 0.5842"/>
    </joint>

    <link name="component">
        <visual>
        <origin xyz="1.0225 0 0"/>
            <geometry>
                <box size="0.635 0.584 0.1524"/>
            </geometry>
            <material name="blue"/>
        </visual>
         
         <!-- <collision>
            <origin xyz="0.7305 0 0.31115"/>
            <geometry>
                <box size="0.635 0.584 0.1524"/>
            </geometry>  
        </collision>

        <xacro:inertial_box mass="0.5" x="0.635" y=".584" z=".1524">
                <origin xyz="1.0225 0 0" rpy="0 0 0"/>
        </xacro:inertial_box> -->


    </link>

    <gazebo reference="chassis">
    <material>Gazebo/White</material>
    </gazebo>


       <!-- LEFT FLOAT LINK -->

    <joint name="left_float_joint" type="fixed">
        <parent link="chassis"/>
        <child link="left_float" />
         <origin xyz="0 0 0" rpy="0 -${pi/2} 0" />
    </joint>


    <link name="left_float">
        <visual>
         <origin xyz="0 0.3937 -1.2573"/>
            <geometry>
                <cylinder radius="0.0889" length="2.27965" />
            </geometry>
            <material name="red"/>
        </visual>
         <!-- <collision>
            <geometry>
                 <cylinder radius="0.0889" length="2.27965" />
            </geometry>
        </collision>

         <xacro:inertial_cylinder mass="0.1" radius="0.0889" length="2.27965" >
                <origin xyz="0 0.3937 -1.2573" rpy="0 -${pi/2} 0"/>
        </xacro:inertial_cylinder> -->
    </link>

           <!-- RIGHT FLOAT LINK -->

    <joint name="right_float_joint" type="fixed">
        <parent link="chassis"/>
        <child link="right_float" />
        <origin xyz="0 0 0" rpy="0 -${pi/2} 0" />
    </joint>


    <link name="right_float">
        <visual>
         <origin xyz="0 -0.3937 -1.2573"/>
            <geometry>
                <cylinder radius="0.0889" length="2.27965" />
            </geometry>
            <material name="red"/>
        </visual>
         <!-- <collision>
            <geometry>
                 <cylinder radius="0.0889" length="2.27965" />
            </geometry>
        </collision>

         <xacro:inertial_cylinder mass="0.1" radius="0.0889" length="2.27965" >
                <origin xyz="0 -0.3937 -1.2573" rpy="0 -${pi/2} 0"/>
        </xacro:inertial_cylinder> -->
    </link>





     
</robot>